<%- include("template/cabecera", {tituloWeb: 'Nuevo Centro' }) %>
    
<div class="box">
    <h1>Aqui podemos añadir una nuevos Centros con sus datos </h1>
    <p>En esta pagina se podra meter los datos de un centro</p>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
        <h1>Crear nuevo Centro</h1>
        <form action="/centro" class="my-2" method="POST">
            <input type="text" placeholder="Nombre" class="form-control my-2" name="Nombre">
            <input type="text" placeholder="Ciudad" class="form-control my-2" name="Ciudad">
            <input type="text" placeholder="Codigo_Postal " class="form-control my-2" name="Codigo_Postal">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
        </form>
    </div>
