<%- include("template/cabecera", {tituloWeb: 'Nueva Persona' }) %>
    
<div class="box">
    <h1>Aqui podemos añadir una nueva personas con sus datos </h1>
    <p>En esta pagina se podra meter los datos de una personas para facilitar  encontrar un voluntario para esta persona</p>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container">
        <h1>Crear nueva Persona</h1>
        <form action="/personas" class="my-2" method="POST">
            <input type="text" placeholder="Nombre" class="form-control my-2" name="Nombre">
            <input type="text" placeholder="Apellido" class="form-control my-2" name="Apellido">
            <input type="text" placeholder="Ciudad " class="form-control my-2" name="Ciudad">
            <input type="text" placeholder="Domicilio " class="form-control my-2" name="Domicilio">
            <input type="text" placeholder="Dni " class="form-control my-2" name="Dni">
            <input type="text" placeholder="Edad " class="form-control my-2" name="Edad">
            <input type="text" placeholder="Patologia " class="form-control my-2" name="Patologia">
            <button type="submit" class="btn btn-dark btn-block">
                Agregar
            </button>
        </form>
    </div>
