<%- include("template/cabecera", {tituloWeb: 'Inicio' }) %>
<div class="box">
    <h1>Junta de Andalucía</h1>
    <p>Desde la junta de andalucia hemos hecho una pagina en la cual se podran guardar los datos de la personas mayores necesarias de ayuda con el voluntariado </p>
    <p>Investiga entre nuestra base de datos para saber que personas necesita ayuda </p>
</div>
<div class="box">
    <a class="nav-link " href="/"><img src="/img/img1.png" alt="Junta_Andalucia" id="junta">
</div>
